/// Mixin создания крестика
/// @author Max Shevkoplias
/// @param {Length} $size - Ширина и высота
/// @param {Length} $border - Ширина линии
/// @param {Color} $color - Цвет линий
///   +close(60px, 15px, #f0f, true)

@mixin close($size, $border, $color, $bdr: false) {
	@warn "Deprecation Warning: This mixin has been deprecated and will be removed in v2";
	$size: _strip-unit($size);
	$length: floor(_sqrt($size * $size + $size * $size));
	
	position: relative;
	min-width: $size * 1px;
	min-height: $size * 1px;
	&::before,
	&::after {
		content: '';
		display: block;
		width: $length * 1px;
		height: $border;
		background-color: $color;
		position: absolute;
		top: 50%;
		left: 50%;
		@if $bdr {
			border-radius: $border;
		}
	}
	&::before {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	&::after {
		transform: translate(-50%, -50%) rotate(45deg);
	}
}