/// Миксин добавляющий подключение шрифтов
/// @param {string} $font-family - Название шрифта
/// @param {string} $file-path - Путь к папке
/// @param {array | null} $file-formats [null] - Типы шрифтов, если не узакано берет из глобавльной переменной

@mixin font-face(
	$font-family,
	$file-path,
	$file-formats: null
) {
	$file-formats: if($file-formats != null, $file-formats, $font-formats);
	@font-face {
		font-family: $font-family;
		src: _font-source-declaration(
			$font-family,
			$file-path,
			$file-formats,
			$file-path
		);
		@content;
	}
}
